<p id="notice"><%= notice %></p>

<p>
  <strong>Skill set name:</strong>
  <%= @skill_set.skill_set_name %>
</p>

<%= link_to 'Edit', edit_skill_set_path(@skill_set) %> |
<%= link_to 'Back', skill_sets_path %>
