<p id="notice"><%= notice %></p>

<p>
  <strong>User type name:</strong>
  <%= @user_type.user_type_name %>
</p>

<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
<%= link_to 'Back', user_types_path %>
