<p id="notice"><%= notice %></p>

<p>
  <strong>Business stream name:</strong>
  <%= @business_stream.business_stream_name %>
</p>

<%= link_to 'Edit', edit_business_stream_path(@business_stream) %> |
<%= link_to 'Back', business_streams_path %>
